<div class="pace-top bg-white  pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade in">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" id="register-image">
                    <img src="img/girl.jpg" alt="">
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header">
		                    Questions
		                    <small>Answer these questions to help us recommend the most suitable secondary school for you</small>
		                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content">
                    <form ng-submit="profileCtrl.submitProfile(profileForm.$valid)" name="profileForm" class="margin-bottom-0" novalidate>
                        <div class="form-group">
                            <label>What Primary School is your child currently in?</label>
                            
                            <div ng-class="{'has-error': profileForm.school.$invalid && (profileForm.school.$touched || profileForm.$submitted)}">
                                <select class="form-control"
                                    ng-options="sch.school for sch in profileCtrl.listOfPriSchools | orderBy:'school'"
                                    ng-model="profileCtrl.profile.school" 
                                    name="school"
                                    ng-disabled="profileCtrl.listOfPriSchools.length == null"
                                    required>
                                </select>
                            
                                <div ng-show="profileForm.school.$invalid && (profileForm.school.$touched || profileForm.$submitted)"
                                     class="help-block">
                                    Please select a primary school
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>What year is your child currently in?</label>
                            
                            <div ng-class="{'has-error': profileForm.year.$invalid && (profileForm.year.$touched || profileForm.$submitted)}">
                                <select class="form-control"
                                    ng-options="year for year in profileCtrl.listOfPrimaryYears"
                                    ng-model="profileCtrl.profile.year" 
                                    name="year"
                                    required>
                                </select>
                                <div ng-show="profileForm.year.$invalid && (profileForm.year.$touched || profileForm.$submitted)"
                                     class="help-block">
                                    Please select a year
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>What year is your child's gender?</label>
                            
                            <div ng-class="{'has-error': profileForm.gender.$invalid && (profileForm.gender.$touched || profileForm.$submitted)}">
                                <select class="form-control"
                                    ng-options="gender for gender in profileCtrl.listOfGenders"
                                    ng-model="profileCtrl.profile.gender" 
                                    name="gender"
                                    required>
                                </select>
                                <div ng-show="profileForm.gender.$invalid && (profileForm.gender.$touched || profileForm.$submitted)"
                                    class="help-block">
                                    Please select a gender
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Rank the top 3 secondary schools of your preference</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div ng-class="{'has-error': profileForm.firstChoice.$invalid && (profileForm.firstChoice.$touched || profileForm.$submitted)}">
                                        <select class="form-control"
                                            ng-options="sch.school for sch in profileCtrl.listOfSecSchools | orderBy:'school'"
                                            ng-model="profileCtrl.profile.firstChoice"
                                            name="firstChoice"
                                            ng-disabled="profileCtrl.listOfSecSchools.length == null"
                                            required>
                                            <option value="" disabled selected>First Choice</option>
                                        </select>
                                        <div ng-show="profileForm.firstChoice.$invalid && (profileForm.firstChoice.$touched || profileForm.$submitted)"
                                            class="help-block">
                                            Please select a choice
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div ng-class="{'has-error': profileForm.secondChoice.$invalid && (profileForm.secondChoice.$touched || profileForm.$submitted)}">
                                        <select class="form-control"
                                            ng-options="sch.school for sch in profileCtrl.listOfSecSchools | orderBy:'school'"
                                            ng-model="profileCtrl.profile.secondChoice" 
                                            name="secondChoice"
                                            ng-disabled="profileCtrl.listOfSecSchools.length == null"
                                            required>
                                            <option value="" disabled selected>Second Choice</option>
                                        </select>
                                        <div ng-show="profileForm.secondChoice.$invalid && (profileForm.secondChoice.$touched || profileForm.$submitted)"
                                            class="help-block">
                                            Please select a choice
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div ng-class="{'has-error': profileForm.thirdChoice.$invalid && (profileForm.thirdChoice.$touched || profileForm.$submitted)}">
                                        <select class="form-control"
                                            ng-options="sch.school for sch in profileCtrl.listOfSecSchools | orderBy:'school'"
                                            ng-model="profileCtrl.profile.thirdChoice"
                                            name="thirdChoice"
                                            ng-disabled="profileCtrl.listOfSecSchools.length == null"
                                            required>
                                            <option value="" disabled selected>Third Choice</option>
                                        </select>
                                        <div ng-show="profileForm.thirdChoice.$invalid && (profileForm.thirdChoice.$touched || profileForm.$submitted)"
                                            class="help-block">
                                            Please select a choice
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>What are your top 3 considerations when choosing a school?</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success pull-right">Submit</button>
                            <button ui-sref="home" type="submit" class="btn btn-inverse">Skip Questions</button>

                        </div>
                    </form>
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
    </div>