<div class="pace-top bg-white  pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade in">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" id="register-image">
                    <img src="img/desk.jpg" alt="">
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header">
		                    Sign Up
		                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content">
                    <form ng-submit="authCtrl.register(registerForm.$valid)" name="registerForm" class="margin-bottom-0" novalidate>
                        <label class="control-label">Name</label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                <div ng-class="{'has-error': registerForm.firstName.$invalid && (registerForm.firstName.$touched || registerForm.$submitted)}">
                                    <input ng-model="authCtrl.user.firstName" type="text" name="firstName" class="form-control" placeholder="First name" required>
                                    <div ng-show="registerForm.firstName.$invalid && (registerForm.firstName.$touched || registerForm.$submitted)"
                                         class="help-block">
                                        Please enter your first name
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 m-b-15">
                                <div ng-class="{'has-error': registerForm.lastName.$invalid && (registerForm.lastName.$touched || registerForm.$submitted)}">
                                    <input ng-model="authCtrl.user.lastName" type="text" name="lastName" class="form-control" placeholder="Last name" required>
                                    <div ng-show="registerForm.lastName.$invalid && (registerForm.lastName.$touched || registerForm.$submitted)"
                                         class="help-block">
                                        Please enter your last name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Email</label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <div ng-class="{'has-error': registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)}">
                                    <input ng-model="authCtrl.user.email" type="email" name="email" class="form-control" placeholder="Email address" required>
                                    <div ng-show="registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)"
                                         class="help-block">
                                        Please enter a valid email address
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Password</label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <div ng-class="{'has-error': registerForm.password.$invalid && (registerForm.password.$touched || registerForm.$submitted)}">
                                    <input ng-model="authCtrl.user.password" type="password" name="password" class="form-control" placeholder="Password" required>
                                    <div ng-show="registerForm.password.$invalid && (registerForm.password.$touched || registerForm.$submitted)"
                                         class="help-block">
                                        Please enter your password
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox m-b-30">
                            <label>
                                <input ng-model="termsAndConditions" type="checkbox"> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                            </label>
                        </div>
                        
                        <div ng-show="authCtrl.error" class="error">{{ authCtrl.error.message }}</div>
                        
                        <div class="register-buttons">
                            <button ng-disabled="!termsAndConditions" type="submit" class="btn btn-success pull-right">Sign Up</button>
                            <button ui-sref="login" type="button" class="btn btn-inverse">Back to Login</button>
                        </div>
                    </form>
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
    </div>
</div>